<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="app-tab-icon" aria-hidden="false" aria-label="Rental Application">home</mat-icon>
      Rental Application
    </ng-template>
    <div style="height: 900px">
      <app-rental></app-rental>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="app-tab-icon material-icons"> people_outline </i>
      Second
    </ng-template>
    <div style="height: 900px">
      Content 2
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="app-tab-icon material-icons">  sentiment_satisfied_alt  </i>
      Third
    </ng-template>
    <div style="height: 900px">
      Content 3
    </div>
  </mat-tab>
</mat-tab-group>


<!--Header component-->
<!--<app-nav-header></app-nav-header>-->
<!--Persons component-->
<!--<app-persons></app-persons>-->
