<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Home Page</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/demo.js}"></script>
</head>

<body>
<h1>Hello !</h1>
<p>Welcome to <span th:text="${message}"></span></p>

<div>
    <button type="button" onclick="doActivity()">Init MappedSuperclasses</button>
</div>
</body>
</html>