<body>

<img src="./assets/images/main.svg" alt="logo" class="main-logo">
<span id="userName" class="currentUserName" *ngIf="currentLoggedInUserName">Hi: <span class="currentUserNameColor">{{currentLoggedInUserName}}</span></span>
<!--<button name="more-btn" class="more-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--  <mat-icon>more_vert</mat-icon>-->
<!--</button>-->
<!--<mat-menu #menu="matMenu">-->
<!--  <button mat-menu-item data-toggle="modal" data-target="#exampleModal">-->
<!--    <span *click="">Logout</span>-->
<!--  </button>-->
<!--</mat-menu>-->


<div class="container">

  <div name="centered-container" class="main-actions-container">
    <button mat-raised-button class="add-advertisement-btn" color="primary">Add Advertisement</button>
    <button mat-raised-button class="login-btn" color="primary">Login as a Member</button>
    <app-persons></app-persons>
  </div>

</div>
</body>
